@import "../../css/colors.css";

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.spinner {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid;
    border-color: $looks-secondary transparent $looks-secondary transparent;
    animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
