@import "../../css/colors.css";

.modal-content {
    width: 440px;
    margin-top: 25px;
}

.body {
    background: $ui-white;
    padding: 1rem 1.5rem;
}

.body p {
    margin: 8px 0;
}

.buttons {
    display: flex;
}
.buttons :disabled {
    opacity: 0.8;
}
.deny-button, .allow-button {
    flex-grow: 1;
    font: inherit;
    color: inherit;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid $ui-black-transparent;
    font-weight: 600;
    font-size: 0.85rem;
}
.deny-button {
    background-color: rgb(255, 92, 92);
    color: white;
    margin-right: 8px;
}
.allow-button {
    background-color: #24cd11;
    color: black;
}
